/* Reset Default Spacing */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Page Styling */

body{
    min-height:100vh;

    padding:40px 0;

    overflow-x:hidden;

    background:linear-gradient(
        135deg,
        #ff9a9e 0%,
        #fad0c4 35%,
        #fad0c4 65%,
        #ffd1ff 100%
    );

    font-family:'Poppins',sans-serif;

    display:flex;
    flex-direction:column;
    align-items:center;
}

/* Hero Section */

.hero{
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(15px);
     margin-top: 30px;
    width: 90%;
    max-width: 1000px;

    text-align: center;

    padding: 70px 50px;

    border-radius: 30px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.2);

    transition: 0.4s;
    animation: floatCard 4s ease-in-out infinite;
}

.hero:hover{
    transform: translateY(-8px);
}

/* Main Heading */

.hero h1{

    font-size: 4rem;

    color:#ff4f8b;

    margin-bottom:30px;

    text-shadow:0 0 20px rgba(255,79,139,.4);
    animation: glow 2s infinite alternate;

}
@keyframes glow{
    from{
        text-shadow:0 0 15px #ff4f8b;
    }
    to{
        text-shadow:0 0 35px #ff4f8b,0 0 60px #ff8fb3;
    }
}

/* Message */

.hero p{
    font-size: 1.2rem;

    color: #555;

    margin-bottom: 25px;
}

/* Button */

.hero button{

    padding: 15px 30px;

    border: none;

    border-radius: 12px;

    background: linear-gradient(45deg,#ff4f8b,#ff2e75);

    color: white;

    font-size: 1rem;

    font-weight: bold;

    letter-spacing: 1px;

    cursor: pointer;

    transition: all 0.3s ease;

    box-shadow: 0 8px 20px rgba(255,79,139,0.4);
    animation:pulse 2s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }
}
.hero button:hover{

    transform: scale(1.1);

    box-shadow:0 0 30px #ff4f8b;

}
/* Surprise Section */

.surprise{
    display: none;
    margin-top: 30px;
    padding: 30px;

    background: rgba(255,255,255,0.7);

    backdrop-filter: blur(10px);

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(255,105,180,0.2);

    animation: fadeIn 0.6s ease;

    transition: 0.3s;
}
.surprise:hover{
    transform: translateY(-5px);
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* View Memories Button */

#nextBtn{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: #ff4f8b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#nextBtn:hover{
    background-color: #ff2e75;
    transform: scale(1.05);
}
/* Gallery */

.gallery,
#videoSection,
#letterSection,
.message-section,
.thanks{

    background: rgba(255,255,255,0.7);

    padding:40px;

    margin-top:60px;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);

}
#slider{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.controls{
    margin-top: 20px;
}

.controls button{
    margin: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: #ff4f8b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover{
    background: #ff2e75;
    transform: scale(1.05);
}
.balloon{
    position: fixed;
    width: 60px;
    height: 80px;
    background: pink;
    border-radius: 50%;
    animation: float 8s linear infinite;
    opacity: 0.8;
    z-index: -1;
}

.balloon1{left:10%; animation-delay:0s;}
.balloon2{left:30%; animation-delay:2s;}
.balloon3{left:60%; animation-delay:4s;}
.balloon4{left:85%; animation-delay:1s;}

@keyframes float{
    0%{
        bottom:-100px;
    }
    100%{
        bottom:110%;
    }
    
}
.message-section{

    margin-top:60px;

    padding:40px;

    background:rgba(255,255,255,0.7);

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,0.1);

    text-align:center;

}

.message-section h2{

    color:#ff4f8b;

    margin-bottom:20px;

    font-size:32px;

}

.message-section p{

    font-size:20px;

    color:#555;

    line-height:1.8;

}
.subtitle{

    font-size: 1.3rem;

    color: #ff4f8b;

    font-weight: 600;

    margin-bottom: 20px;

    letter-spacing: 1px;

}
#videoSection{

    background: white;

    padding: 40px;

    border-radius: 25px;

    margin-top: 60px;

    box-shadow: 0 10px 30px rgba(0,0,0,.15);

}
#videoSection video{

    width:70%;

    max-width:700px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,0.25);

}
.gallery{
    display:none;
}

#videoSection{
    display:none;
}

#letterSection{
    display:none;
}
.thanks{
    display:none;

    width:90%;
    max-width:1000px;

    margin-top:60px;
    margin-bottom:40px;

    text-align:center;

    background: rgba(255,255,255,0.7);

    padding:40px;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);
}
#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,#ff4f8b,#ff9a9e);
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 999999;
}

#loader h1{
    color: white;
    font-size: 60px;
    text-align: center;
}
.heart{
    position:fixed;
    left:10%;
    bottom:-50px;
    font-size:35px;
    animation:heartFloat 10s linear infinite;
    z-index:-1;
    pointer-events:none;
    opacity: 0.5;
}

.h2{
    left:50%;
    animation-delay:3s;
}

.h3{
    left:80%;
    animation-delay:6s;
}

@keyframes heartFloat{

    from{
        bottom:-50px;
        opacity:1;
    }

    to{
        bottom:110%;
        opacity:0;
    }

}

}
@keyframes floatCard{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }

}
@keyframes glow{

    from{
        text-shadow:0 0 10px #ff4f8b;
    }

    to{
        text-shadow:
        0 0 20px #ff4f8b,
        0 0 40px #ff99bb,
        0 0 60px #ff4f8b;
    }

}
.hero,
.gallery,
#videoSection,
#letterSection,
.thanks{
    position:relative;
    z-index:2;
}
