/* Reset Default Spacing */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Page Styling */

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ff9a9e, #fad0c4);

    font-family: Arial, sans-serif;
}

/* Hero Section */

.hero{
    background-color: white;

    width: 80%;
    max-width: 700px;

    text-align: center;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;
}

/* Main Heading */

.hero h1{
    font-size: 3rem;
    color: #ff4f8b;

    margin-bottom: 20px;
}

/* Message */

.hero p{
    font-size: 1.2rem;

    color: #555;

    margin-bottom: 30px;
}

/* Button */

.hero button{

    padding: 15px 30px;

    border: none;

    border-radius: 10px;

    background-color: #ff4f8b;

    color: white;

    font-size: 1rem;
    
    transition: all 0.3s ease;
    
    cursor: pointer;

}
.hero button:hover{
    background-color: #ff2e75;
    transform: scale(1.05);
}
/* Surprise Section */

.surprise{
    display: none;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff0f5;
    border-radius: 15px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* View Memories Button */

#nextBtn{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: #ff4f8b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#nextBtn:hover{
    background-color: #ff2e75;
    transform: scale(1.05);
}
/* Gallery */

.gallery{

    display: none;

    margin-top: 30px;

    text-align: center;
}

.gallery img{

    width: 250px;
    object-fit: cover;
    height: 250px;

    border-radius: 15px;

    margin: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    transition: all 0.3s ease;
}

.gallery img:hover{

    transform: scale(1.05);

}
.balloon{
    position: fixed;
    width: 60px;
    height: 80px;
    background: pink;
    border-radius: 50%;
    animation: float 8s linear infinite;
    opacity: 0.8;
    z-index: -1;
}

.balloon1{left:10%; animation-delay:0s;}
.balloon2{left:30%; animation-delay:2s;}
.balloon3{left:60%; animation-delay:4s;}
.balloon4{left:85%; animation-delay:1s;}

@keyframes float{
    0%{
        bottom:-100px;
    }
    100%{
        bottom:110%;
    }
    
}
}
